[submodule "vendor/univer-revamp"]
	path = vendor/univer-revamp
	url = git@github.com:CasualOffice/univer-revamp.git
[submodule "vendor/design-system"]
	path = vendor/design-system
	url = git@github.com:CasualOffice/design-book.git
[submodule "apps/server"]
	path = apps/server
	url = git@github.com:CasualOffice/collab.git
